@{
    ViewData["Title"] = "Add New Desk";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post" class="row g-2 align-items-end">
    @Html.AntiForgeryToken()

    <div class="col-md-3">
       
        <input name="deskName" id="deskName" class="form-control"
               type="text" placeholder="Enter Desk Name" />
    </div>

    <div class="col-md-3">
        <button type="submit" class="btn btn-secondary btn-sm">Create Desk</button>
    </div>
</form>